{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {d, 'TEST'}]}
    ]}
]}.

{project_plugins, [
    rebar3_proper
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_excl_mods, []}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
